.AddPost {
    box-sizing: border-box;
    z-index: 2;
    padding: 0.8rem;
    position: absolute;
    display: flex;
    flex-direction: column;
    transition: all 0.5s ease-in-out;
    top: 50%;
    width: 99%;
    height: 90%;
    overflow-y: auto;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #fff;
    border-radius: 0.25rem;
    gap: 0.8rem;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1), 0 -20px 20px rgba(0, 0, 0, 0.1)
}

.close {
    font-size: 1.2rem;
    cursor: pointer;
    transition: all 100ms ease-in-out;
    position: absolute;
    right: 1.5%;
}

.AddPost form {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    gap: 0.8rem;
}

.title {
    margin: 0;
}

.addTaskBtn {
    display: flex;
    width: 100%;
    justify-content: flex-end;
    margin-top: auto;
}

.input, .textarea {
 padding-bottom: 0.6rem;
  width: 100%;
  resize: none;
  outline: none;
  height: 20%;
  outline-offset: 0;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  font-weight: 450;
  border: none;
  border-bottom: 0.1rem solid silver;
}

.textStyle {
  font-size: 0.8rem;
}

.save, .cancel{
  font-size: 0.8rem;
  color: #fff;
  border-radius: 0.2rem;
  background: #066bc9;
  cursor: pointer;
  padding: 0.5rem;
  transition: all 0.2s ease-in-out;
  border: none;
  margin-right: 1.5rem;
}

.cancel {
    margin-right: 0;
    background: rgb(194, 192, 192);
    color: black;
}

.input {
    height: auto;
}

.close:hover {
    transform: scale(1.3);
  }

@media (min-width: 768px) {
    .AddPost {
        width: 45%;
    }
}