.dashboard {
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  padding: 1rem 0.4rem;
  flex-direction: column;
  padding: 0;
}

.btnGroup {
  display: flex;
  flex-direction: row;
  margin-left: auto;
  gap: 0.5rem;
}

.deleteBtn,
.editBtn,
.viewBtn {
  padding: 0.35rem;
  border: none;
  color: white;
  border-radius: 0.3rem;
  font-size: 0.7rem;
  cursor: pointer;
}

.viewBtn {
  background: #066bc9;
}

.editBtn {
  background: #48a0f1;
}

.deleteBtn {
  background: rgb(231, 67, 67);
}

.taskTitle {
  width: 100%;
  background: #066bc9;
  color: white;
  padding: 0.4rem;
  font-size: 0.8rem;
}

.toDo {
  display: flex;
  /* width: 100%; */
  flex-direction: column;
  box-shadow: 0 1px 5px 1px rgb(0, 0, 0, 0.1);
  padding: 0.5rem;
  border-radius: 0.5rem;
  gap: 0.5rem;
  box-sizing: border-box;
  overflow: hidden;
}

.item {
  text-decoration: none;
  padding: 0.5rem;
  box-sizing: border-box;
  width: 100%;
  display: flex;
  cursor: pointer;
  transition: all 800ms ease-in-out;
  background: #add2f5;
  border-radius: 0.5rem;
  flex-direction: column;
}

.desc {
  font-size: 0.8rem;
  font-weight: 500;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.item:hover {
  box-shadow: 2px 2px 50px #e4e3e3,
    -2px -2px 50px #ffffff;
}

.title {
  width: 100%;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  color: black;
}

.titleShow, .descShow {
  font-size: 0.8rem;
  width: 100%;
  white-space: normal;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

.descShow {
  height: 50%;
  overflow-y: auto;
}

.addNewTask {
  width: fit-content;
  padding: 0.5rem 3rem;
  background: #066bc9;
  margin: 0 0.4rem;
  border: none;
  color: white;
  border-radius: 0.3rem;
  cursor: pointer;
}

.loader,
.loading {
  border: 0.2rem solid #066bc9;
  border-radius: 50%;
  border-top: 0.2rem solid white;
  width: 1.5rem;
  height: 1.5rem;
  animation: spin 900ms linear infinite;
  margin: auto;
}

.emptyState {
  font-size: 0.9rem;
}

.loader {
  margin-top: 1rem;
}

.loading {
  margin: 1rem auto;
  position: absolute;
  z-index: 1;
  left: 50%;
  right: 50%;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}


.empty {
  margin-top: 1rem;
}

.lastUpdate {
  font-size: 0.7rem;
  color: rgb(41, 40, 40);
  margin-top: 1rem;
}

.filterCard {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0.75rem 1rem;
  border-radius: 0.3rem;
  margin-top: 0.5rem;
  box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.1);
  flex-direction: column;
  gap: 1rem;
}

.taskCard {
  /* width: 100%; */
  box-sizing: border-box;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  justify-content: space-between;
  gap: 1rem;
  padding: 1rem;
}

.search {
  /* width: 100%; */
  display: flex;
  gap: 1rem;
  align-items: center;
  box-sizing: border-box;
  overflow: hidden;

}

.search input,
.search select {
  padding: 0.3rem;
  border: 0.1rem solid black;
  border-radius: 0.2rem;
  outline: none;
}

.showToDo {
  box-sizing: border-box;
  z-index: 2;
  padding: 0.8rem;
  position: fixed;
  display: flex;
  flex-direction: column;
  transition: all 0.5s ease-in-out;
  top: 50%;
  width: 99%;
  height: 90%;
  overflow-y: auto;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #fff;
  border-radius: 0.25rem;
  gap: 0.8rem;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1), 0 -20px 20px rgba(0, 0, 0, 0.1)
}

.task span {
  font-size: 0.85rem;
}

.close,
.edit,
.cancel {
  padding: 0.5rem 0.8rem;
  color: white;
  border-radius: 0.4rem;
  background: #066bc9;
  border: none;
  cursor: pointer;
}


.edit {
  background: silver;
  color: black;
}

.cancel {
  background: gray;
  color: black
}

.showToDo .data {
  display: flex;
  width: 100%;
  flex-direction: column;
  gap: 0.5rem;
  height: 100%;
  position: relative;
  overflow: hidden;
}

.data form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
  height: 100%;
}

.textStyle {
  font-size: 0.8rem;
}

.showToDo .data .input {
  outline: none;
  width: 100%;
  border: 0.12rem solid #fff;
  padding: 0 !important;
  margin: 0;
}

.borderTextBox,
.borderInput {
  padding-bottom: 0.6rem !important;
  width: 100% !important;
  resize: none !important;
  outline: none !important;
  outline-offset: 0 !important;
  display: flex !important;
  justify-content: flex-start !important;
  align-items: flex-start !important;
  font-weight: 450 !important;
  border: none !important;
  border-bottom: 0.1rem solid silver !important;
}

.borderTextBox {
  height: 40% !important;
}

.showToDo .data .textarea {
  width: 100%;
  resize: none;
  outline: none;
  outline-offset: 0;
  border: 0.12rem solid #fff;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  font-weight: 450;
}

.bottomIcon {
  position: absolute;
  bottom: 0;
  right: 0;
  display: flex;
  gap: 1rem;
}

.edit:hover,
.delete:hover {
  box-shadow: 0 0 20px 5px rgba(0, 0, 0, 0.1);
}

.delete {
  background: #ff0000;
}

.icon {
  font-size: 1.2rem;
  margin-left: auto;
  cursor: pointer;
  transition: all 100ms ease-in-out;
}

.oneHead {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.oneHead span {
  font-size: 0.7rem;
  font-weight: 450;
}

.icon:hover {
  transform: scale(1.3);
}

@media (min-width: 768px) {
  .showToDo {
    width: 45%;
  }

  .filterCard {
    flex-direction: row;
    align-items: center;
  }

  .taskCard {
    grid-template-columns: repeat(3, 1fr);
  }
}