.nav {
    background: rgb(27, 169, 76);
    padding: 1rem 2rem;
    box-sizing: border-box;
    justify-content: space-between;
    align-items: center;
    display: flex;
    color: #fff;
    margin-bottom: 1.4rem;
}


.Link {
    text-decoration: none;
    color: #fff;
}

.logout {
    border: none;
    background: white;
    cursor: pointer;
    box-shadow: 2px 2px 30px 1px rgba(0, 0, 0, 0.1);
    padding: 0.5rem 0.8rem;
}