.nav {
    background: #066bc9;
    padding: 1rem 2rem;
    box-sizing: border-box;
    justify-content: space-between;
    align-items: center;
    display: flex;
    color: #fff;
    margin-bottom: 1.4rem;
}


.Link {
    text-decoration: none;
    color: #fff;
    font-size: 1.2rem;
}

.logout,
.signup,
.login {
    border: none;
    background: white;
    cursor: pointer;
    box-shadow: 2px 2px 30px 1px rgba(0, 0, 0, 0.1);
    padding: 0.4rem 0.8rem;
    color: #066bc9;
    font-size: 0.9rem;
    border-radius: 0.3rem;
    text-decoration: none;
}

.logout {
    background-color: rgb(175, 7, 7) !important;
    color: white !important;
}

.signup {
    border-radius: 0;
    background: none;
    border-radius: 0;
    padding: 0.4rem 0;
    color: white;
    box-shadow: 0 0 0 0;
    text-decoration: none;
    font-size: 0.9rem;
}

.auth {
    display: flex;
    gap: 1rem;
}